body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("matrix.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  border: 3px solid black;
  background-color: #004d90;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #00274d;
}

.section {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.social {
  background-color: #f2f2f2;
  text-align: center;
  padding: 3em 0;
}

.social h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 1em;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #3498db;
}
